.mainContent {
  padding: 20px;
}
.mainContent__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mainContent__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainContent__title {
  margin: 0;
  color: #fc3c3c;
}

.mainContent__dropdown {
  background: #fff;
}
